<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="/font/css/open-iconic-bootstrap.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <meta charset="UTF-8"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Поиск деклараций</title>
    <script type="application/javascript">
        function officialName() {
            return $('.form-control')[0].value
        }

        function countryName() {
            return $('.input-group-btn')[0].innerText.trim()
        }

        $(function(){
            $("#index_progress").tooltip();

            $(".input-group-btn .dropdown-menu li a").click(function(){
                var selText = $(this).html();
                $(this).parents('.input-group-btn').find('.dropdown-toggle').html(selText);
            });

            $("#search_input").autocomplete(
                {
                    source: function(req, res) {
                        $.ajax({
                            url: encodeURI('/api/suggest'),
                            data: {
                                name: officialName(),
                                countryName: countryName()
                            },
                            type: 'get',
                            success: function(data) {
                                res(data.slice(0, 20));
                            }});
                    },
                    minLength: 3,
                    appendTo: "#result_div"
                })
        });

        function startIndex() {
            var token = $('#_csrf').attr('content');
            var header = $('#_csrf_header').attr('content');
            $.ajax({
                url: encodeURI("/api/indexer/start?countryName=" + countryName()),
                type: 'post',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                }
            })
        }

        function exportFile() {
            var token = $('#_csrf').attr('content');
            var header = $('#_csrf_header').attr('content');
            $.ajax({
                url: encodeURI("/api/export?countryName=" + countryName()),
                type: 'post',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                }
            })
        }

        function updateSettings() {
            var token = $('#_csrf').attr('content');
            var header = $('#_csrf_header').attr('content');
            $.ajax({
                url: encodeURI("/api/settings"),
                type: 'post',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    exportPath: $("#export_path")[0].value,
                    exportType: document.getElementById("export_type").textContent.trim(),
                    indexInterval: $("#index_interval")[0].value,
                    crawlerInterval: $("#crawler_interval")[0].value,
                    countryInterval: $("#country_interval")[0].value,
                    proxyMode: $("#proxy_mode")[0].checked,
                    proxyHost: $("#proxy_host")[0].value,
                    proxyPort: $("#proxy_port")[0].value
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                }
            })
        }

        setInterval(function() {
            $.ajax({
                url: "/api/indexer/status",
                success: function(status) {
                    if (status === 'busy') {
                        $("#index_progress").show()
                    } else {
                        $("#index_progress").hide()
                    }
                }
            })
        }, 3000)
    </script>

    <style>
        .input-group-addon.primary {
            color: rgb(255, 255, 255);
            background-color: rgb(50, 118, 177);
            border-color: rgb(40, 94, 142);
        }
        #result_div {
            display: block;
            position:relative
        }
        .ui-autocomplete {
            position: absolute;
        }
    </style>
</head>
<body onload="$('#index_progress').hide()">
    <nav class="navbar navbar-light sticky-top faded">
        <form class="form-inline">
            <div style="padding-right: 30px">
                <button class="btn btn-sm align-middle btn-outline-danger" id="index-button" type="button" data-toggle="modal" data-target="#index_confirm_modal">
                    Индексация
                </button>
            </div>
            <div style="padding-right: 30px">
                <button class="btn btn-sm align-middle btn-outline-primary" id="export-button" type="button" data-toggle="modal" data-target="#export_modal">
                    Экспорт
                </button>
            </div>
            <div class="progress" id="index_progress"  data-toggle="tooltip" data-placement="right" title="Индексация выполняется">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="1" style="width: 100px"></div>
            </div>
        </form>
        <div class="row justify-content-end">
            <div style="padding-right: 20px">
                <button class="btn btn-outline-secondary" type="button" id="settings-button" data-toggle="modal" data-target="#settings_modal">
                    <span class="oi oi-wrench"></span>
                </button>
            </div>
            <form th:action="@{/logout}" method="post">
                <button class="btn btn-outline-secondary" type="submit" id="logout-button">
                    <span class="oi oi-account-logout"></span>
                </button>
            </form>
        </div>
    </nav>
    <nav>

    </nav>
    <div class="row h-100 justify-content-center">
        <div class="col-7 my-auto" style="width: 70%">
            <form style="padding-bottom: 100px; padding-top: 60px" role="search" onsubmit="return findOfficials(officialName(), countryName())">
                <div class="input-group">
                    <div class="input-group-btn" >
                        <!--/*@thymesVar id="countries" type="java.util.List<org.lighthouse.domain.entities.Country>"*/-->
                        <div th:switch="${countries.isEmpty()}">
                            <button th:case="true" type="button" class="btn btn-secondary dropdown-toggle input-group-addon primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Нет стран</button>
                            <button th:case="false" type="button" class="btn btn-secondary dropdown-toggle input-group-addon primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:utext="${countries.get(0).name}"></button>
                            <div class="dropdown-menu" th:each="country: ${countries}">
                                <a class="dropdown-item" href="#" th:utext="${country.name}"></a>
                            </div>
                        </div>
                    </div>
                    <input id="search_input" type="text" class="form-control" aria-label="Text input with dropdown button"/>
                    <div class="input-group-btn">
                        <button class="btn btn-outline-success my-2 my-sm-0">
                            Найти
                        </button>
                    </div>
                </div>
            </form>
            <div id="result_div"></div>
        </div>
    </div>
    <div id="result" class="mx-auto" style="width: 500px;"></div>

    <div class="modal fade" id="index_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="confirmation_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmation_label">Подтверждение операции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы хотите переиндексировать данные по выбранной стране? Это займет длительное время.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="startIndex()">Начать индексацию</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="export_modal" tabindex="-1" role="dialog" aria-labelledby="export_confirmation_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="export_confirmation_label">Подтверждение операции</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Выгрузить данные по текущей стране?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="exportFile()">Начать выгрузку</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settings_modal" tabindex="-1" role="dialog" aria-labelledby="settings_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settings_label">Настройки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <!--/*@thymesVar id="settings" type="org.lighthouse.web.vo.SettingsVO"*/-->
                        <label for="export_type" class="form-control-label">Тип экспорта:</label>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="export_type"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span th:utext="${settings.exportType}"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="export_type">
                            <a class="dropdown-item" href="#">LOCAL</a>
                        </div>
                        <div class="form-group">
                            <label for="export_path" class="form-control-label">Директория экспорта:</label>
                            <input class="form-control" th:value="${settings.exportPath}" id="export_path" type="text"/>
                            <label for="index_interval" class="form_control_label">Расписание индексации (cron, требуется перезапуск):</label>
                            <input class="form-control" th:value="${settings.indexInterval}" id="index_interval" type="text"/>
                            <label for="crawler_interval" class="form_control_label">Пауза между заходами на html-страницу (в мс):</label>
                            <input class="form-control" th:value="${settings.crawlerInterval}" id="crawler_interval" type="number"/>
                            <label for="country_interval" class="form_control_label">Интервал между индексациями страны по расписанию (в днях):</label>
                            <input class="form-control" th:value="${settings.countryInterval}" id="country_interval" type="number"/>

                            <label class="col-md-6">Proxy-сервер</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" id="proxy_mode" type="checkbox" th:checked="${settings.proxyMode}"/> Включен
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-6">
                                    <input class="form-control" th:value="${settings.proxyHost}" id="proxy_host" type="text" placeholder="Host"/>
                                </div>
                                <div class="col-md-3 col-md-offset-9">
                                    <input class="form-control" th:value="${settings.proxyPort}" id="proxy_port" type="number" placeholder="Port"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="updateSettings()">Сохранить настройки</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>